In [1]:
# Exception handling
num=int(input("Enter the numerator: "))
deno=int(input("Enter the denominator: "))
try:
    quo=num/deno
    print("Quotient: ",quo)
except ZeroDivisionError:
    print("Denominator cant be zero")

Enter the numerator:  4
Enter the denominator:  0

Denominator cant be zero

In [19]:
try:
    num=int(input("Enter number : "))
    print(num*4)
except keyboardInterrupt:
   print("Number should be entered")
except ValueError:
    print("please check before you enter the data type")
print("Bye")

Enter number :  7

28
Bye

In [21]:
#raise [exception [, args[,traceback]]]
try:
    num=11
    print(num)
    raise ValueError
except:
    print("Exception Occured")

    #Traceback(most recent calls)

11
Exception Occured

In [25]:
try:
    print("Raising Exception")
    raise ValueError
except:
    print("Exception caught....")
finally:
    print("performing clean-up in finally")

Raising Exception
Exception caught....
performing clean-up in finally

In [27]:
c=int(input("Enter temperature in c:"))
f=(c*9/5)+32
assert(f<=32), "Its Cold"
print("Fahrenheit :",f)

Enter temperature in c:  53

AssertionError: Its Cold

In [29]:
'''write a program which infinitely prints natural numbers.
Raise a stopIteration Exception after displaying first 20 numbers to exit the program'''
def display(n):
    while True:
        try:
            n+=1
            if n==21:
                raise StopIteration
        except StopIteration:
            break
        else:
            print(n,end=' ')
i=0;
display(i)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [33]:
import random
class RandomError(Exception):
    pass
try:
    num=random.random()
    if num<0.1:
        raise RandomError
except RandomError as e:
    print("RandomError generated")
else:
    print("%.4f"%num)

0.9339

In [48]:
from calendar import *
year = int(input("Enter a year number: "))
print(calendar(year,2,1,8,3))

Enter a year number:  1

                                     1

      January                     February                     March
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                  1  2  3  4                  1  2  3  4
 8  9 10 11 12 13 14         5  6  7  8  9 10 11         5  6  7  8  9 10 11
15 16 17 18 19 20 21        12 13 14 15 16 17 18        12 13 14 15 16 17 18
22 23 24 25 26 27 28        19 20 21 22 23 24 25        19 20 21 22 23 24 25
29 30 31                    26 27 28                    26 27 28 29 30 31

       April                        May                         June
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                   1            1  2  3  4  5  6                     1  2  3
 2  3  4  5  6  7  8         7  8  9 10 11 12 13         4  5  6  7  8  9 10
 9 10 11 12 13 14 15        14 15 16 17 18 19 20        11 12 13 14 15 16 17
16 17 18 19 20 21 22        21 22 23 24 25 26 27        18 19 20 21 22 23 24
23 24 25 26 27 28 29        28 29 30 31                 25 26 27 28 29 30
30

        July                       August                    September
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
                   1               1  2  3  4  5                        1  2
 2  3  4  5  6  7  8         6  7  8  9 10 11 12         3  4  5  6  7  8  9
 9 10 11 12 13 14 15        13 14 15 16 17 18 19        10 11 12 13 14 15 16
16 17 18 19 20 21 22        20 21 22 23 24 25 26        17 18 19 20 21 22 23
23 24 25 26 27 28 29        27 28 29 30 31              24 25 26 27 28 29 30
30 31

      October                     November                    December
Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su        Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                  1  2  3  4                        1  2
 8  9 10 11 12 13 14         5  6  7  8  9 10 11         3  4  5  6  7  8  9
15 16 17 18 19 20 21        12 13 14 15 16 17 18        10 11 12 13 14 15 16
22 23 24 25 26 27 28        19 20 21 22 23 24 25        17 18 19 20 21 22 23
29 30 31                    26 27 28 29 30              24 25 26 27 28 29 30
                                                        31

In [58]:
from calendar import *
Year=int(input("Enter a year number: "))
Month=int(input("Enter a month number: "))
str=month(Year,Month)
print(str)

Enter a year number:  2025
Enter a month number:  12

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [60]:
from calendar import *
year = int(input("Enter a year Number :"))
if isleap(year):
    print(year, "is leap year")
else:
    print(year,"is not a leap year")

Enter a year Number : 2005

2005 is not a leap year

In [64]:
''' program to print the next 10 day dates continuously '''
from datetime import *
d=date.today()
print(d)
#d=date(1966,6,29)
for x in range(1,10):
    nextdate=d+timedelta(days=x)
    print(nextdate)

2025-07-04
2025-07-05
2025-07-06
2025-07-07
2025-07-08
2025-07-09
2025-07-10
2025-07-11
2025-07-12
2025-07-13

In [68]:
import time
epoch = time.time()
print(epoch)

1751610823.2317004

In [ ]:
import sys
if len(sys.argv)<2:
    print("Usage: python hi.py <name>")
else:
    name=sys.argv[1]
    print(f"Student ,{name}!")